/* for laptops 1280px */
@media (max-width: 1240px) {
  .left-navbar .search-input {
    display: none;
  }
}
/* for laptops 1280px */

/* for tablet 1024px */
@media (max-width: 1024px) {
  .right-sidebar {
    display: none;
  }
  .feed {
    margin: 0;
    width: 65%;
    margin-left: 30%;
  }
}
/* for tablet 1024px */

/* tablet 768px*/
@media (max-width: 768px) {
  .left-sidebar {
    display: none;
  }
  .feed {
    /* margin: auto; */
    width: 95%;
    margin-left: 0;
  }
  .center-navbar {
    position: fixed;
    top: 55px;
    left: 0;
    width: 100%;
    background: white;
  }
  .center-navbar a {
    padding: 0 20px;
  }

  .feed {
    padding-top: 40px;
  }
}
@media (max-width: 420px) {
  /* .feed {
    margin: auto;
    width: 80%;
    margin-left: -4%;
    margin-right: 11%;
  } */
}
